[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj

*.exe
*.apk
*.aab
*.zip

New folder/
New folder (2)/
New folder (3)/
New folder (4)/
New folder (5)/